{% extends "base.html" %}
{% load bootstrap %}
{% load url from future %}

{% block title %}{% block header %}
Login
{% endblock %}{% endblock %}


{% block content %}

<p>
	<a href="{% url "socialauth_begin" "google-oauth2" %}" class="btn">
		Login with Google
	</a>
	<a href="{% url "socialauth_begin" "facebook" %}" class="btn">
		Login with Facebook
	</a>
</p>

<form method="POST">
	{{ form|bootstrap }}
	{% csrf_token %}
	<input type="submit" value="Log In" class="btn btn-primary">
</form>

<p>
	<a href="{% url "account_password_reset" %}">Forgot your password?</a>
</p>
<p>
	Not a Credit Swarm member?  <a href="{% url "account_password_reset" %}">Sign up now!</a>
</p>

{% endblock %}
