{% extends "base.html" %}
{% load url from future %}
{% load bootstrap %}

{% block extracss %} 
<link href="{{ STATIC_URL }}/css/datepicker.css" rel="stylesheet">
{% endblock %}


{% block extrascript %} 
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script>
	$(function(){
		$('#id_inquiry_date').datepicker({
			format: 'yyyy-mm-dd'
		});
	})
</script>
{% endblock %}


{% block title %}{% block header %}
Disputed Account Detail
{% endblock %}{% endblock %}


{% block content %}

<form method="post" class="form-horizontal" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form|bootstrap }}
	<input type="submit" class="btn btn-primary" value="Save" />
	{% if object %}
	<a href="{% url "case-detail" object.case.pk %}" class="btn">Cancel</a>
	<a href="{% url "account-delete" object.pk %}" class="btn btn-danger pull-right">
		<i class="icon-trash"></i> Delete
	</a>
	{% else %}
	<a href="javascript:history.go(-1)" class="btn">Cancel</a>
	{% endif %}
</form>

{% endblock %}
