{% extends "base.html" %}
{% load url from future %}


{% block title %}{% block header %}
Confirm Dispute Details
{% endblock %}{% endblock %}


{% block content %}

<h2>
	Dispute: {{ object.get_agency_display }} credit report #{{ object.report_number }}
</h2>

{% include "case/case_detail_display.html" %}

<hr />

<p class="lead">
	Once your case has been submitted, you will <b>not</b> be able to edit 
	any of the information.
</p>
<form method="POST">
	<button type="submit" class="btn btn-warning">
		<i class="icon-ok"></i> Confirm and Submit Case
	</button>
	<a href="{% url "case-detail" object.pk %}" class="btn">Edit</a>
	{% csrf_token %}
</form>

{% endblock %}