{% extends "base.html" %}
{% load url from future %}
{% load bootstrap %}
{% load compress %}


{% block title %}{% block header %}
Credit Report Dispute
{% endblock %}{% endblock %}


{% block extrascript %} 
{% compress js inline %}
<script>
	$(function(){
		$('#id_inquiry_date').datepicker({
			format: 'yyyy-mm-dd'
		});
	})
</script>
{% endcompress %}
{% endblock %}


{% block content %}

<form method="post" class="form-horizontal">
	{% csrf_token %}
	{{ form|bootstrap }}
	<input type="submit" class="btn btn-primary" value="Save and Add Detail" />
	<a href="{% url "home" %}" class="btn">Cancel</a>
</form>

{% endblock %}
