{% extends "base.html" %}
{% load url from future %}
{% load bootstrap %}


{% block title %}{% block header %}
Credit Report Dispute
{% endblock %}{% endblock %}


{% block extracss %} 
<link href="{{ STATIC_URL }}/css/datepicker.css" rel="stylesheet">
{% endblock %}


{% block extrascript %} 
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script>
	$(function(){
		$('#id_inquiry_date').datepicker({
			format: 'yyyy-mm-dd'
		});
	})
</script>
{% endblock %}


{% block content %}

<form method="post" class="form-horizontal">
	{% csrf_token %}
	{{ form|bootstrap }}
	<input type="submit" class="btn btn-primary" value="Save and Add Detail" />
	<a href="{% url "home" %}" class="btn">Cancel</a>
</form>

{% endblock %}
