{% load url from future %}

<!------------------------------------------------------------------------------
	
Credit Report

------------------------------------------------------------------------------->

<dl>
	<dt>
		Dispute Case ID
	</dt>
	<dd>
		{{ object.case_id }}
	</dd>
	{% if object.ts_transmitted %}
	<dt>
		Dispute Case Transmitted
	</dt>
	<dd>
		{{ object.ts_transmitted }}
	</dd>
	{% endif %}
	<dt>
		Credit Reporting Agency
	</dt>
	<dd>
		{{ object.get_agency_display }}
	</dd>
	<dt>
		Credit Report Number
	</dt>
	<dd>
		{{ object.report_number }}
	</dd>
	<dt>
		Consumer Given Name
	</dt>
	<dd>
		{{ object.user.get_profile.given_name }}
	</dd>
	<dt>
		Consumer Family Name
	</dt>
	<dd>
		{{ object.user.get_profile.family_name }}
	</dd>
	<dt>
		Consumer Address
	</dt>
	<dd>
		{{ object.user.get_profile.address1 }}
		{% if object.user.get_profile.address2 %}
		<br>{{ object.user.get_profile.address2 }}
		{% endif %}
		<br>{{ object.user.get_profile.city }}, 
		{{ object.user.get_profile.state }} 
		{{ object.user.get_profile.zip }}
	</dd>
	<dt>
		Consumer Date of Birth
	</dt>
	<dd>
		{{ object.user.get_profile.date_of_birth }}
	</dd>
	<dt>
		Consumer SSN
	</dt>
	<dd>
		{{ object.user.get_profile.ssn }}
	</dd>
</dl>

<!------------------------------------------------------------------------------
	
Account Details

------------------------------------------------------------------------------->

<hr />

<h2>
	Disputed Account Details
</h2>

{% if object.account_set.all %}

{% for account in object.account_set.all %}

<h3>
	{{ account.creditor }} #{{ account.account_number }} (Disputed Account Detail)
</h3>
<dl>
	<dt>
		Creditor
	</dt>
	<dd>
		{{ account.creditor }}
	</dd>
	<dt>
		Account Number
	</dt>
	<dd>
		{{ account.account_number }}
	</dd>
	<dt>
		Reason
	</dt>
	<dd>
		{{ account.get_reason_display }}
	</dd>
	<dt>
		Explanation
	</dt>
	<dd>
		{{ account.explanation|linebreaks|default:"-" }}
	</dd>
	<dt>
		Supporting Document
	</dt>
	<dd>
		{% if account.evidence %}
		<a href="{{ account.evidence.url }}">
			{{ account.evidence }}
		</a>
		{% else %}
		-
		{% endif %}
	</dd>
</dl>
{% if not forloop.last %}
<hr />
{% endif %}

{% endfor %}

{% else %}

<p>
	No disputed account details.
</p>

{% endif %}


<!------------------------------------------------------------------------------
	
Inquiries

------------------------------------------------------------------------------->

<hr />

<h2>
	Disputed Inquiries
</h2>

{% if object.inquiry_set.all %}

	{% for inquiry in object.inquiry_set.all %}
	<h3>
		{{ inquiry.company_name }} {{ inquiry.date|date:"d M Y" }} (Disputed Credit Inquiry)
	</h3>
	<dl>
		<dt>
			Company Name
		</dt>
		<dd>
			{{ inquiry.company_name }}
		</dd>
		<dt>
			Date of Inquiry
		</dt>
		<dd>
			{{ inquiry.date }}
		</dd>
	</dl>
	{% if not forloop.last %}
		<hr />
	{% endif %}
	{% endfor %}

{% else %}

	<p>
		No disputed inquiries.
	</p>

{% endif %}


<!------------------------------------------------------------------------------
	
Demographic Info

------------------------------------------------------------------------------->

<hr />

<h2>
	Incorrect Personal Information
</h2>

{% if object.demographic_set.all %}

	{% for dem in object.demographic_set.all %}
	<h3>
		{{ dem.get_problem_display|slice:"10:" }} (Incorrect Personal Information)
	</h3>
	<dl>
		<dt>
			Problem
		</dt>
		<dd>
			{{ dem.get_problem_display }}
		</dd>
		<dt>
			Explanation
		</dt>
		<dd>
			{{ dem.explanation|linebreaks }}
		</dd>
	</dl>
	{% if not forloop.last %}
		<hr />
	{% endif %}
	{% endfor %}

{% else %}

<p>
	No incorrect personal information.
</p>

{% endif %}


