{% extends "base.html" %}
{% load url from future %}


{% block title %}{% block header %}
Are you sure you want to delete this cased credit inquiry?
{% endblock %}{% endblock %}


{% block content %}

<ul>
	<li>
		Creditor Name: {{ object.creditor }}
	</li>
	<li>
		Account Number: {{ object.account_number }}
	</li>
	<li>
		Reason: {{ object.get_reason_display }}
	</li>
	<li>
		Explanation: {{ object.explanation }}
	</li>
</ul>

<form method="POST">
	{% csrf_token %}
	<button type="submit" class="btn btn-danger">
		<i class="icon-trash"></i> Yes, Delete It!
	</button>
	<a href="{% url "case-detail" object.case.pk %}" class="btn">
		Cancel
	</a>
</form>

{% endblock %}