{% load url from future %}

{% block subject %}Consumer credit report dispute (submitted via Credit Swarm){% endblock %}

{% block plain %}
Blah blah blah legal text.

Click here to access the consumer credit dispute data:
    https://{{ current_site.domain }}{% url "cra-case-detail" object.pk %}
{% endblock %}

{% block html %}
<h1>
	Complaint headline
</h1>

<p>
	Blah blah blah legal text.
</p>
<p>
	<a href="https://{{ current_site.domain }}{% url "cra-case-detail" object.pk %}">
		Click here to access the consumer credit dispute data.
	</a>
</p>
{% endblock %}