{% extends "base.html" %}
{% load url from future %}
{% load bootstrap %}

{% block extracss %} 
<link href="{{ STATIC_URL }}/css/datepicker.css" rel="stylesheet">
{% endblock %}


{% block extrascript %} 
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script>
	$(function(){
		$('#id_inquiry_date').datepicker({
			format: 'yyyy-mm-dd'
		});
	})
</script>
{% endblock %}


{% block content %}

{{ object }}
<form method="post" class="form-horizontal">
	{% csrf_token %}
	{{ form|bootstrap }}
	<input type="submit" class="btn btn-primary" value="Save" />
	{% if object %}
	<a href="{% url "dispute-detail" object.pk %}" class="btn">Cancel</a>
	<a href="{% url "account-delete" object.pk %}" class="btn btn-danger">
		Delete
	</a>
	{% endif %}
</form>

{% endblock %}
