{% extends "base.html" %}
{% load url from future %}
{% load bootstrap %}

{% block title %}{% block header %}
Incorrect Personal Information
{% endblock %}{% endblock %}


{% block content %}

<form method="post" class="form-horizontal" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form|bootstrap }}
	<input type="submit" class="btn btn-primary" value="Save" />
	{% if object %}
	<a href="{% url "dispute-detail" object.dispute.pk %}" class="btn">Cancel</a>
	<a href="{% url "demographic-delete" object.pk %}" class="btn btn-danger pull-right">
		<i class="icon-trash"></i> Delete
	</a>
	{% else %}
	<a href="javascript:history.go(-1)" class="btn">Cancel</a>
	{% endif %}
</form>

{% endblock %}
