{% extends "base.html" %}
{% load url from future %}

{% block content %}

<p>
	<a class="btn btn-primary" href="{% url "new_dispute" %}">File New Dispute</a>
</p>

{% if object_list %}
<h2>Disputes on File</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Dispute #</td>
			<td>Last Updated</td>
			<td>Bureau</td>
		</tr>
	</thead>
	<tbody>
		{% for dispute in object_list %}
		<tr>
			<td>{{ dispute.pk }}</td>
			<td>{{ dispute.ts_updated }}</td>
			<td>{{ dispute.get_bureau_display }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}

{% endblock %}

