{% extends "base.html" %}
{% load url from future %}

{% block title %}{% block header %}
Are you sure you want to delete this Credit Report Dispute?
{% endblock %}{% endblock %}


{% block content %}

<ul>
	<li>
		Credit Swarm Dispute Number: {{ object.pk }}
	</li>
	<li>
		Credit Reporting Agency: {{ object.get_agency_display }}
	</li>
	<li>
		Credit Report Number: {{ object.report_number }}
	</li>
	<li>
		Status: 
		{{ object.get_status_display }}
	</li>
</ul>


<form method="POST">
	{% csrf_token %}
	<input type="submit" class="btn btn-danger" value="Yes, Delete It!" />
	<a href="{% url "dispute-detail" object.pk %}" class="btn">
		Cancel
	</a>
</form>
{% endblock %}