{% extends "base.html" %}
{% load url from future %}

{% block content %}

<h1>
	Dispute #{{ object.pk }}
</h1>

<ul>
	<li>
		Status: 
		{% if not object.status == "D" %}
		<i class="icon-ok-sign"></i>
		{% endif %}
		{{ object.get_status_display }}
	</li>
	<li>
		Credit Reporting Agency: {{ object.get_agency_display }}
	</li>
	<li>
		Credit Report Number: {{ object.report_number }}
	</li>
</ul>

{% if object.status == "D" %}

<hr />

<h2>
	Account Details
</h2>

{% if object.account_set.all %}
<p>
	<i>Click to Edit</i>
</p>

<table class="table table-striped" data-provides="rowlink">
	<thead>
		<tr>
			<th>
				Creditor
			</th>
			<th>
				Account Number
			</th>
			<th>
				Reason
			</th>
		</tr>
	</thead>
	<tbody>
	{% for account in object.account_set.all %}
		<tr>
			<td>
				<a href="{% url "account-edit" account.pk %}">
					{{ account.creditor }}
				</a>
			</td>
			<td>
				{{ account.account_number }}
			</td>
			<td>
				{{ account.get_reason_display }}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% else %}
<p>
	<strong>No account details added yet.</strong>
</p>
{% endif %}

<p>
	<a href="{% url "account-new" object.pk %}" class="btn">
		Add new account...
	</a>
</p>

<hr />

{% if not object.account_set.all %}
<p>
	<i>You must add at least one account detail before sumbitting your dispute.</i>
</p>
{% endif %}

<p>
	{% if object.ready_to_submit %}
	<a href="{% url "dispute-submit" object.pk %}" class="btn btn-primary">
	{% else %}
	<a href="#" class="btn btn-primary disabled">
	{% endif %}
		<i class="icon-ok"></i> Confirm and Submit Dispute
	</a>
	<a href="{% url "dispute-edit" object.pk %}" class="btn">
		Edit Dispute
	</a>
	<a href="{% url "dispute-delete" object.pk %}" class="btn btn-danger">
		<i class="icon-trash"></i> Delete
	</a>
</p>
{% endif %}

{% endblock %}