{% load url from future %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
	<head>
		<link href="{{ STATIC_URL }}/css/bootstrap.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}/css/bootstrap-responsive.css" rel="stylesheet">
		{% block extracss %}
		{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Pijyn - File credit disputes online for free{% endblock %}
		</title>
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Pijyn - File credit disputes online for free</a>
					<ul class="nav pull-right">
						{% if user.is_authenticated %}
						<li>
							<a href="#">Logged in: {{ user }}</a>
						</li>
						<li>
							<a href="{% url "logout" %}">Logout</a>
						</li>
						{% else %}
						<li>
							<a href="{% url "login" %}">Login</a>
						</li>
						<li>
							<a href="{% url "login" %}">Sign Up</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
		<div class="container">

			{% block content %}
			Content goes here.
			{% endblock %}

			<hr/>
			<footer class="footer">
				  <div class="pull-right">
					  <a class="twitter"><a href="https://twitter.com/pijyn">Twitter</a></li>
					  <a class="tumblr"><a href="http://www.tumblr.com/blog/pijyntalk">Tumblr</a></li>
					  <a class="fb"><a href="http://www.facebook.com/pijyn">Facebook</a></li>
					  <a class="rss"><a href="services.html">RSS Feed</a></li>
				  </div>
				  <a href="https://pijynup.com/news">What is Pijyn?</a></li>
				  <a href="https://pijynup.com/testimonials">How it works</a></li>
				  <a href="https://pijynup.com/pricing">Disclosures</a></li>
				  <a href="https://pijynup.com/security">Contact</a></li>
				  <p class="copyright">© 2012 Pijyn Inc. All rights reserved.</p>
			  </nav>
			</footer>
		</div><!-- /container -->
	</body>


</html>
