<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
	<head>
		<link href="{{ STATIC_URL }}/css/bootstrap.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}/css/bootstrap-responsive.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>
			{% block title %}Credit Dispute{% endblock %}
		</title>
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Credit Disputes</a>
					<ul class="nav pull-right">
						{% if user.is_authenticated %}
						<li>
							<a href="#">{{ user.email }}</a>
						</li>
						<li>
							<a href="{{ account_logout }}">Logout</a>
						</li>
						{% else %}
						<li>
							<a href="{% url account_login %}">Login</a>
						</li>
						<li>
							<a href="{% url account_signup %}">Sign Up</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			{% block content %}
			Content goes here.
			{% endblock %}
		</div><!-- /container -->
	</body>
</html>