{% extends "base.html" %}
{% load url from future %}

{% block noheader %}{% endblock %}

{% block content %}

<h2>Disputes on File</h2>
{% if object_list %}
<table class="table table-striped" data-provides="rowlink">
	<thead>
		<tr>
			<td>Dispute #</td>
			<td>Credit Reporting Agency</td>
			<td>Credit Report Number</td>
			<td>Submitted</td>
		</tr>
	</thead>
	<tbody>
		{% for case in object_list %}
		<tr>
			<td>
				<a href="{% url "case-detail" case.pk %}">
					{{ case.case_number }}
				</a>
			</td>
			<td>{{ case.get_agency_display }}</td>
			<td>{{ case.report_number }}</td>
			<td>
				{% if case.status = "D" %}
				<i class="icon-minus-sign"></i> No
				{% else %}
				<i class="icon-ok-sign"></i> {{ case.ts_submitted|date:"d M Y" }}
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>
	You have not filed any cases.
</p>
{% endif %}

<hr />

<p>
	<a class="btn btn-primary" href="{% url "case-new" %}">File New Dispute</a>
</p>


{% endblock %}

