{% extends "base.html" %}
{% load url from future %}

{% block content %}

<p>
	<a class="btn btn-primary" href="{% url "dispute-new" %}">File New Dispute</a>
</p>

<hr />

<h2>Disputes on File</h2>
{% if object_list %}
<table class="table table-striped">
	<thead>
		<tr>
			<td>Dispute #</td>
			<td>Last Updated</td>
			<td>Bureau</td>
			<td>Submitted</td>
		</tr>
	</thead>
	<tbody>
		{% for dispute in object_list %}
		<tr>
			<td>
				<a href="{% url "dispute-detail" dispute.pk %}">
					Dispute #{{ dispute.pk }}
				</a>
			</td>
			<td>{{ dispute.ts_updated }}</td>
			<td>{{ dispute.get_cra_display }}</td>
			<td>
				{% if dispute.status = "D" %}
				<i class="icon-minus-sign"></i> No
				{% else %}
				<i class="icon-ok-sign"></i> Yes
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>
	You have not filed any disputes.
</p>
{% endif %}

{% endblock %}

