{% extends "base.html" %}
{% load url from future %}
{% load cache %}

{% block completehtml %}
{% cache 900 landing %}
<!DOCTYPE html>
<html lang="en" class=" js no-touch csstransforms csstransforms3d csstransitions fontface video audio">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8">

<!--[if lt IE 8 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <style>
    .chromeFrameOverlayContent {
      top: 50px;
      margin-top: 0;
    }
  </style>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<![endif]-->

<!--[if gte IE 9]>
        <link rel="stylesheet" type="text/css" href="ie9.css" />
<![endif]-->

<title>Send credit report disputes online for free</title>
<meta name="viewport" content="width=1024">
<meta name="description" content="File credit report disputes online for free.">
<meta content="[&quot;#business-settings&quot;,&quot;#deposits&quot;,&quot;#payment&quot;,&quot;#payments&quot;,&quot;#user-settings&quot;]" id="dashboard-path-prefixes" name="dashboard-path-prefixes">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="xH0kqd86pGn5guuZj8Mb7BWxzXc540EUTfebARg8xIo=">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/landing.css" media="all">
</head>
<body style="display: block;" class="locale-en locale-en-US country-US public homepage laptop has-hero-section">
<div class="header-wrapper">
  <header class="main-header main-header-home">
    <nav class="header-nav">
      <div class="logo">
        <div class="home-link ">Credit Swarm</div>
      </div>
      <div class="actions"> 
      	<a href="{% url "login" %}" class="orange-button small-button signup-button">Sign Up</a> 
      	<a href="{% url "login" %}" class="primary-button small-button signin-button">&nbsp;Log In</a> </div>
    </nav>
  </header>
</div>
<div class="main-content" id="content">
  <section id="" class="hero-section inverted-section pijyn-scene ready">
    <nav> <a class="paddle next-paddle" href="ipad.html" data-direction="next"></a> </nav>
    <div class="mask video-container">
      <div class="view">
        <div class="pijyn-signup-form prominent_percent_without_only">
          <h1 class="home-headline">Send credit report disputes online for free</h1>
        </div>
        <i style="background-image: url('{{ STATIC_URL }}/img/laptop-bg.jpg');"class="pijyn-bg"></i> <i style="background-image: url('{{ STATIC_URL }}/img/ipad-bg.jpg');" ></i> <i style="background-image: url('{{ STATIC_URL }}/img/laptop.png');" class="pijyn-fg"></i> <i class="glass"></i> <i style="background-image: url('{{ STATIC_URL }}/img/ipad.png');" ></i> <i class="glass"></i> </div>
    </div>
  </section>
</div>
<footer class="main-footer">
  <nav class="footer-nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="https://pijynup.com/news">What is Credit Swarm?</a></li>
      <li class="nav-item"><a href="https://pijynup.com/testimonials">How it works</a></li>
      <li class="nav-item"><a href="https://pijynup.com/pricing">Disclosures</a></li>
      <li class="nav-item"><a href="https://pijynup.com/security">Contact</a></li>
      <li class="nav-item">
        <ul id="social">
          <li class="twitter"><a href="https://twitter.com/pijyn">Twitter</a></li>
          <li class="tumblr"><a href="http://www.tumblr.com/blog/pijyntalk">Tumblr</a></li>
          <li class="fb"><a href="http://www.facebook.com/pijyn">Facebook</a></li>
          <li class="rss"><a href="services.html">RSS Feed</a></li>
        </ul>
      </li>
    </ul>
    <p class="copyright">© 2012 National Credit Dispute Adjudication Coporation. All rights reserved.</p>
  </nav>
</footer>
</body>
</html>
{% endcache %}
{% endblock %}
