{% extends "base.html" %}
{% load url from future %}

{% block content %}

<header class="jumbotron subhead">
	<h1>
		Login
	</h1>
	<p class="lead">
		Don't let their mistake become your problem!
	</p>
</header>

<section id="login">
	<div class="row">
		<div class="span12">
			<a href="{% url "socialauth_begin" "google" %}" class="btn">Login with Google account</a>
			<a href="{% url "socialauth_begin" "facebook" %}" class="btn">Login with Facebook account</a>
		</div>
	</div>
	<h2>Stay tuned for more login options...</h2>
</section>

{% endblock %}
